html, body {
  margin: 0;
  padding: 10px;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea url('bg.png');
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1 {
  font-weight: bold;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  
}

#employees-list li {
  cursor: pointer;
}

#employee-details {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5);
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #CCC;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#employee-name {
  font-weight: bold;
}

#choices {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5);
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #CCC;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2), 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
}

#choices td {
  border: 1px solid black;
  width: 100px;
  height: 30px;
  padding: 5px;
}

#choices tr:first-child td {
  text-align: center;
}

#choices td:first-child {
  width: 200px;
}

#choices td.chosen {
 background: pink; 
}